
.team_members{

}
.team-section{
    background-image: linear-gradient(to right, #0F2A4F, #0F2A4F, #7DAB08);
   
}


.team{
    color: #7DAB08;
    /* text-align: center; */
    margin-left: 830px;
    font-size: 36px;
}
h5{
    font-size: 24px;

}
p{
    font-size: 24px;
}

h6{
    font-size: 32px;
}

.images{
    display: flex;
    gap: 10%;
    padding-top: 8px;
    padding-left: 380px;
}


.caption{
    text-align: center;
    font-size: 16px;
    color: aliceblue;
}


.image-bottom{
    padding-top: 45px;
    display: flex;
    gap: 15%;
    padding-left: 600px;
}

.our-team img{
    width: 256px;
    gap: 10%;
    border-radius: 50%;
    display: flex;
    justify-content: space-between;
}




@media screen and (min-width:200px) and (max-width:300px){
    h2{
        font-size: 30px;
    }

    .team-section{
        background-image: linear-gradient(to right, #0F2A4F, #0F2A4F, #7DAB08);
        width: 139%;
       
    }
    
    .our-team{
        margin-left: 40px;

    }
    .images{
        flex-direction: column;
        align-items: center;
        padding-left: 20px;
        padding-right: 50px;
    }
    
    .caption h5{
        text-align: center;
    }
    
    .image-bottom{
        flex-direction: column;
        align-items: center;
        padding-left: 40px;
        padding-right: 70px;
    }
    
    .our-team img{
        width: 140px;
        gap: 10%;
        border-radius: 50%;
        display: flex;
        justify-content: space-between;
    }
    .team{
       margin-left: 33%;
        font-size: 24px;
    }
    .our-team p{
        font-size: 20px;
      ;
    }
  
} 


@media screen and (min-width:360px) and (max-width:460px){
   
  
    h2{
        font-size: 30px;
        padding-left: 25%;
    }

    .team-section{
        background-image: linear-gradient(to right, #0F2A4F, #0F2A4F, #7DAB08);
        width: 109%;
       
    }
    
    
    .images{
        flex-direction: column;
        align-items: center;
        padding-left: 10px;
    }
    
    .caption{
        font-size: 1rem;
    }
    
    .image-bottom{
        flex-direction: column;
        align-items: center;
        padding-left: 10px;
    }
    
    .our-team img{
        width: 180px;
        gap: 10%;
        border-radius: 50%;
        display: flex;
        justify-content: space-between;
    }
    .team{
        margin-left: 0px;
    }
}



@media only screen and (min-device-width: 412px) and (max-device-width: 612px) {
    h2{
        font-size: 30px;
    }

    .team-section{
        background-image: linear-gradient(to right, #0F2A4F, #0F2A4F, #7DAB08);
        width: 102%;
       
    }
    
    .images{
        flex-direction: column;
        align-items: center;
        padding-left: 50px;
        padding-right: 50px;
    }
    
    .caption{
        font-size: 1rem;
    }
    
    .image-bottom{
        flex-direction: column;
        align-items: center;
        padding-left: 50px;
        padding-right: 50px;
    }
    
    .our-team img{
        width: 180px;
        gap: 10%;
        border-radius: 50%;
        display: flex;
        justify-content: space-between;
    }
    .team{
        margin-left: 30px;

    }
}


   


@media screen and (min-width:430px) and (max-width:630px){
    h2{
        font-size: 30px;
    }

    .team-section{
        background-image: linear-gradient(to right, #0F2A4F, #0F2A4F, #7DAB08);
        width: 105%;
       
    }
    
    
    .images{
        flex-direction: column;
        align-items: center;
        padding-left: 80px;
        padding-right: 80px;
    }
    
    .caption{
        font-size: 1rem;
    }
   
    .image-bottom{
        flex-direction: column;
        align-items: center;
        margin-left: 10px;
    }
    
    .our-team img{
        width: 180px;
        gap: 10%;
        border-radius: 50%;
        display: flex;
        justify-content: space-between;
    }

.team{
    color: #7DAB08;
    margin-left: 50px;
    font-size: 23px;
}
}

@media screen and (min-width:768px) and (max-width:912px){
    h2{
        font-size: 30px;
    }

    .team-section{
        background-image: linear-gradient(to right, #0F2A4F, #0F2A4F, #7DAB08);
        width: 107%;
       
    }
    .team-section p{
        font-size: 18px;
    }    
    .images{

        /* flex-direction: column; */
        align-items: center;
        padding-left: 99px;
        padding-right: 160px;
    }
    
    .caption{
        font-size: 1rem;
    }
    
    .image-bottom{
        /* flex-direction: column; */
        align-items: center;
        padding-left: 160px;
        /* padding-right: 50px; */
    }
    
    .our-team img{
        width: 180px;
        gap: 10%;
        border-radius: 50%;
        display: flex;
        justify-content: space-between;
    }
    .team{
        margin-left: 40%;
    }
}






@media screen and (min-width:1030px) and (max-width:1220px){
    h2{
        font-size: 30px;
    }
    
    .team-section{
        background-image: linear-gradient(to right, #0F2A4F, #0F2A4F, #7DAB08);
        width: 108%;
       
    }


    .images{
        flex-direction: column;
        align-items: center;
        padding-left: 30px;
        /* padding-right: 150px; */
    }
    
    .caption{
        font-size: 1rem;
    }
    
    .image-bottom{
        flex-direction: column;
        align-items: center;
        padding-left: 20px;
        /* padding-right: 50px; */
    }
    
    .our-team img{
        width: 180px;
        gap: 10%;
        border-radius: 50%;
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (min-width:912px) and (max-width:1113px){
    h2{
        font-size: 30px;
    }

    .team-section{
        background-image: linear-gradient(to right, #0F2A4F, #0F2A4F, #7DAB08);
        width: 114%;
       
    }
    
    .images{
        flex-direction: row;
        align-items: center;
        padding-left: 130px;
    }
    
    .caption{
        font-size: 1rem;
    }
    
    .image-bottom{
        flex-direction: row;
        align-items: center;
        padding-left: 200px;
    }
    
    .our-team img{
        width: 180px;
        gap: 10%;
        border-radius: 50%;
        display: flex;
        justify-content: space-between;
    }
    .team{
        margin-left: 40%;
    }
    .our-team{
        margin-left: 0px;
    }

}


@media screen and (min-width:1024px) and (max-width:1050px){
    h2{
        font-size: 30px;
    }

    .team-section{
        background-image: linear-gradient(to right, #0F2A4F, #0F2A4F, #7DAB08);
        width: 110%;
       
    }
    
    .images{
        flex-direction: row;
        align-items: center;
        padding-left: 150px;
    }
    
    .caption{
        font-size: 1rem;
    }
    
    .image-bottom{
        flex-direction: row;
        align-items: center;
        padding-left: 250px;
    }
    
    .our-team img{
        width: 180px;
        gap: 10%;
        border-radius: 50%;
        display: flex;
        justify-content: space-between;
    }
    .team{
        margin-left: 400px;
    }
    .our-team{
        margin-left: 0px;
    }
}

@media screen and (min-width:1228px) and (max-width:1300px){
    h2{
        font-size: 30px;
    }
    .team{
        margin-left: 550px;
    }

     .team-section{
        background-image: linear-gradient(to right, #0F2A4F, #0F2A4F, #7DAB08);
        width: 90%;
       
    }
    
    .images{
        flex-direction: row;
        align-items: center;
        padding-left: 200px;
    }
    
    .caption{
        font-size: 1rem;
    }
    
    .image-bottom{
        flex-direction: row;
        align-items: center;
        padding-left: 360px;
    }
    
    .our-team img{
        width: 220px;
        gap: 5%;
        border-radius: 50%;
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (min-width:540px) and (max-width:640px){
    h2{
        font-size: 30px;
    }
    
    .images{
        display: flex;
        align-items: center;
        padding-left: 150px;
        padding-right: 150px;
    }
    .team-section{
        background-image: linear-gradient(to right, #0F2A4F, #0F2A4F, #7DAB08);
        width: 100%;
       
    }
    
    
    .caption{
        font-size: 1rem;
    }
    
    .image-bottom{
        flex-direction: column;
        align-items: center;
        padding-left: 50px;
        padding-right: 50px;
    }
    
    .our-team img{
        width: 220px;
        gap: 10%;
        border-radius: 50%;
        display: flex;
        justify-content: space-between;
    }
    .team{
        margin-left: 40%;
    }
}
