
/* .team_members{

} */
.team-section{
    background-image: linear-gradient(to right, #0F2A4F, #0F2A4F, #7DAB08);
   
}


.team{
    color: #7DAB08;
    /* text-align: center; */
    margin-left: 630px;
    font-size: 36px;
}
h5{
    font-size: 24px;

}
p{
    font-size: 24px;
}

h6{
    font-size: 32px;
}

.images{
    display: flex;
    gap: 10%;
    padding-top: 8px;
    margin-left: 200px;
    /* padding-left: 340px; */
}


.caption{
    text-align: center;
    font-size: 16px;
    color: aliceblue;
}


.image-bottom{
    padding-top: 45px;
    display: flex;
    gap: 15%;
    margin-left: 350px;
    /* padding-left: 600px; */
}

.our-team img{
    width: 256px;
    gap: 10%;
    border-radius: 50%;
    display: flex;
    justify-content: space-between;
}



/* @media screen and (min-width:280px) and (max-width:480px)
@media screen and (min-width:565px) and (max-width:768px)
@media screen and (min-width:769px) and (max-width:1020px)
@media screen and (min-width:1030px) and (max-width:1220px)
@media screen and (min-width:1221px) and (max-width:1280px)
@media screen and (min-width:1024px) and (max-width:1029px) */

@media screen and (min-width:280px) and (max-width:299px){
    body{
        width: 1400px;
    }
    h2{
        font-size: 30px;
    }

    .team-section{
        background-image: linear-gradient(to right, #0F2A4F, #0F2A4F, #7DAB08);
        width: 99%;
       
    }
    #member{
        margin-left: 60px;
    }
    #members{
        margin-left: 40px;

    }
    .our-team{
        margin-left: 0px;

    }
    .images{
        flex-direction: column;
        /* align-items: center; */
        padding-left: 10px;
    }
    
    .caption{
        font-size: 1rem;
    }
    
    .image-bottom{
        flex-direction: column;
        align-items: center;
        padding-left: 5px;
    }
    
    .our-team img{
        width: 140px;
        gap: 10%;
        border-radius: 50%;
        display: flex;
        justify-content: space-between;
    }
    .team{
        margin-left: 70px;
        font-size: 24px;
    }
}


@media screen and (min-width:300px) and (max-width:399px){
    h2{
        font-size: 30px;
    }

    .team-section{
        background-image: linear-gradient(to right, #0F2A4F, #0F2A4F, #7DAB08);
        width: 99%;
       
    }
    
    
    .images{
        flex-direction: column;
        align-items: center;
        padding-left: 10px;
    }
    
    .caption{
        font-size: 1rem;
    }
    
    .image-bottom{
        flex-direction: column;
        align-items: center;
        padding-left: 10px;
    }
    
    .our-team img{
        width: 170px;
        gap: 10%;
        border-radius: 50%;
        display: flex;
        justify-content: space-between;
    }
    .team{
        margin-left: 0px;
    }
}




@media screen and (min-width:400px) and (max-width:480px){
    h2{
        font-size: 30px;
    }

    .team-section{
        background-image: linear-gradient(to right, #0F2A4F, #0F2A4F, #7DAB08);
        width: 105%;
       
    }
    
    
    .images{
        flex-direction: column;
        align-items: center;
        padding-left: 10px;
    }
    
    .caption{
        font-size: 1rem;
    }
    
    .image-bottom{
        flex-direction: column;
        align-items: center;
        padding-left: 10px;
    }
    
    .our-team img{
        width: 180px;
        gap: 10%;
        border-radius: 50%;
        display: flex;
        justify-content: space-between;
    }
    .team{
        color: #7DAB08;
        /* text-align: center; */
        margin-left: 0px;
        font-size: 36px;
    }
}


@media screen and (min-width:490px) and (max-width:540px){
    h2{
        font-size: 30px;
    }

    .team-section{
        background-image: linear-gradient(to right, #0F2A4F, #0F2A4F, #7DAB08);
        width: 105%;
       
    }
    
    
    .images{
        flex-direction: column;
        align-items: center;
        padding-left: 10px;
    }
    
    .caption{
        font-size: 1rem;
    }
   
    .image-bottom{
        flex-direction: column;
        align-items: center;
        padding-left: 10px;
    }
    
    .our-team img{
        width: 180px;
        gap: 10%;
        border-radius: 50%;
        display: flex;
        justify-content: space-between;
    }

.team{
    color: #7DAB08;
    /* text-align: center; */
    margin-left: 120px;
    font-size: 23px;
}
}

@media screen and (min-width:565px) and (max-width:768px){
    h2{
        font-size: 30px;
    }

    .team-section{
        background-image: linear-gradient(to right, #0F2A4F, #0F2A4F, #7DAB08);
        width: 101%;
       
    }
    
    .images{
        flex-direction: column;
        align-items: center;
        padding-left: 150px;
        padding-right: 150px;
    }
    
    .caption{
        font-size: 1rem;
    }
    
    .image-bottom{
        flex-direction: column;
        align-items: center;
        padding-left: 50px;
        padding-right: 50px;
    }
    
    .our-team img{
        width: 180px;
        gap: 10%;
        border-radius: 50%;
        display: flex;
        justify-content: space-between;
    }
    .team{
        margin-left: 300px;

    }
}

@media screen and (min-width:769px) and (max-width:1020px){
    h2{
        font-size: 30px;
    }

    .team-section{
        background-image: linear-gradient(to right, #0F2A4F, #0F2A4F, #7DAB08);
        width: 105%;
       
    }
    
    .images{
        flex-direction: row;
        align-items: center;
        padding-left: 70px;
        /* padding-right: 150px; */
    }
    
    .caption{
        font-size: 1rem;
    }
    
    .image-bottom{
        flex-direction: row;
        align-items: center;
        padding-left: 190px;
        /* padding-right: 50px; */
    }
    
    .our-team img{
        width: 180px;
        gap: 10%;
        border-radius: 50%;
        display: flex;
        justify-content: space-between;
    }
    .team{
        margin-left: 320px;
    }
    .our-team{
        margin-left: 0px;
        margin-right: 50px;
    }
}

@media screen and (min-width:1030px) and (max-width:1220px){
    h2{
        font-size: 30px;
    }
    
    .team-section{
        background-image: linear-gradient(to right, #0F2A4F, #0F2A4F, #7DAB08);
        width: 105%;
       
    }


    .images{
        flex-direction: column;
        align-items: center;
        padding-left: 30px;
        /* padding-right: 150px; */
    }
    
    .caption{
        font-size: 1rem;
    }
    
    .image-bottom{
        flex-direction: column;
        align-items: center;
        padding-left: 20px;
        /* padding-right: 50px; */
    }
    
    .our-team img{
        width: 180px;
        gap: 10%;
        border-radius: 50%;
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (min-width:1024px) and (max-width:1029px){
    h2{
        font-size: 30px;
    }

    .team-section{
        background-image: linear-gradient(to right, #0F2A4F, #0F2A4F, #7DAB08);
        width: 100%;
       
    }
    
    .images{
        flex-direction: row;
        align-items: center;
        padding-left: 150px;
    }
    
    .caption{
        font-size: 1rem;
    }
    
    .image-bottom{
        flex-direction: row;
        align-items: center;
        padding-left: 250px;
    }
    
    .our-team img{
        width: 180px;
        gap: 10%;
        border-radius: 50%;
        display: flex;
        justify-content: space-between;
    }
    .team{
        margin-left: 400px;
    }
    .our-team{
        margin-left: 0px;
    }
}

@media screen and (min-width:1221px) and (max-width:1280px){
    h2{
        font-size: 30px;
    }
    .team{
        margin-left: 550px;
    }

     .team-section{
        background-image: linear-gradient(to right, #0F2A4F, #0F2A4F, #7DAB08);
        width: 105%;
       
    }
    
    .images{
        flex-direction: row;
        align-items: center;
        padding-left: 200px;
    }
    
    .caption{
        font-size: 1rem;
    }
    
    .image-bottom{
        flex-direction: row;
        align-items: center;
        padding-left: 360px;
    }
    
    .our-team img{
        width: 220px;
        gap: 5%;
        border-radius: 50%;
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (min-width:540px) and (max-width:720px){
    h2{
        font-size: 30px;
    }
    
    .images{
        flex-direction: column;
        align-items: center;
        padding-left: 150px;
        padding-right: 150px;
    }
    
    .caption{
        font-size: 1rem;
    }
    
    .image-bottom{
        flex-direction: column;
        align-items: center;
        padding-left: 50px;
        padding-right: 50px;
    }
    
    .our-team img{
        width: 220px;
        gap: 10%;
        border-radius: 50%;
        display: flex;
        justify-content: space-between;
    }
    .team{
        margin-left: 180px;
    }
}